
body{
  font-family: "Gilroy-Medium";
}

main{
  background-color: #001632;
}

:root{
  --boolean-green: #00de6b;
}

/*********************** 
        UTILITIES
***********************/

h2{
  color: white;
}

h3{
  font-size: 5rem;
  font-weight: bolder;
}

.box{
  width: 500px;
  height: 500px;
  background-color: white;
  border-radius: 30px;
}

.container-box{
  margin: 0px auto;
  height: 80vh;
}

.container-title{
  margin: 0 auto;
  height: 10vh;
}

.box img{
  box-shadow: 10px 10px 20px darkgray ;
  border-radius: inherit;
}
/*********************** 
        UTILITIES
***********************/

/*************************************
      Direzioni e Dimensioni ombra
*************************************/
.box-2{
  box-shadow: 10px 0 var(--boolean-green);
  box-shadow: 0 10px var(--boolean-green);
  box-shadow: -10px 0 var(--boolean-green);
  box-shadow: 0px -10px var(--boolean-green);
  box-shadow: 10px 10px var(--boolean-green);
  box-shadow: -10px -10px var(--boolean-green);
}

.box-2 h3{
  text-shadow: 10px 0 var(--boolean-green);
  text-shadow: 0 10px var(--boolean-green);
  text-shadow: -10px 0 var(--boolean-green);
  text-shadow: 0px -10px var(--boolean-green);
  text-shadow: 10px 10px var(--boolean-green);
  text-shadow: -10px -10px var(--boolean-green);
}

/*************************************
      /Direzioni e Dimensioni ombra
*************************************/

/*************************************
              Effetti
*************************************/
.box-3{
  box-shadow: 10px 10px 10px var(--boolean-green);
  box-shadow: 10px 10px 10px 5px var(--boolean-green);
  box-shadow: 10px 10px 10px 5px var(--boolean-green);
}

.box-3 h3{
  text-shadow: 5px 5px 3px var(--boolean-green);
}
/*************************************
              Effetti
*************************************/

/*************************************
          Border Shadow
*************************************/
.box-4{
  box-shadow: 10px 10px 5px lightblue inset;
}

.box-4 h3{
  color: coral;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}
/*************************************
          Border Shadow
*************************************/

/*************************************
              Multiple Shadow
*************************************/
.box-5{
  box-shadow: 0px 5px 10px 0px var(--boolean-green),
  ;
}

.box-5 h3{
  text-shadow: 0px 5px 10px var(--boolean-green);
}

.box-5:hover{
  transform: translateY(-15px);
  box-shadow: 0 0 20px 5px var(--boolean-green);
}
/*************************************
              Multiple Shadow
*************************************/

